body {
	display: flex;
	flex-flow: wrap;
	height: 100%;
	width: 100%;
	min-width: 1204px;
	margin: 0px;
	font-family: Helvetica, Arial, Geneva, sans-serif;
}

iframe {
	width: 600px;
	height: 600px;
	border: 0;
	overflow:hidden;
	box-shadow: 0 0 15px #0000002e;
    margin: 10px;
}

header,
nav,
article,
section,
aside,
footer {
	/*padding: 10px;*/
	margin: 10px;
	flex: 1 100%;
}

header {
	font-size: 8pt;
}

header form input,
header form button {
	font-size: 12pt;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  background-color: #ddd;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav h2,p,ul {
	margin-left: 10px;
}

.sidenav ul {
	padding-inline-start: 15px;
}

.sidenav a {
  text-decoration: none;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

div.openNav {
	font-size:20px;
	cursor:pointer;
}

h1,h2 {
	margin: 5px 0px 10px 0px;
}

#urlform {
	width: 100%;
}

#formUrl {
	min-width: 500pt;
}

.frameContainer {
	min-width: 600px;
}

.frameContainer a {
	margin: 10px;
}

#kofi {
	flex: 2 1 0%;
	order: 1;
}

#links {
	order: 4;
}

#notes {
	order: 5;
}

#samples {
	flex: 1 0%;
}